<body style="background-color: #f2f2f2; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; margin: 0; padding: 0;">
	<table cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff; margin: 0 auto; max-width: 600px;">
		<tr>
			<td style="padding: 20px;">
				<h1 style="color: #007bff;">EliteEld регистрация</h1>
				<p>Уважаемый {{ .Name }},</p>
				<p>Спасибо за регистрацию в EliteEld! Мы очень рады, что вы присоединились к нашему сообществу и выбрали нашу компанию в качестве своего партнера.</p>
				<p>Мы ценим ваше доверие и обещаем сделать все возможное, чтобы ваше сотрудничество с нами было приятным и плодотворным. Наша команда всегда готова оказать вам помощь и поддержку в любых вопросах.</p>
				<p>Если у вас возникнут какие-либо вопросы или замечания, пожалуйста, не стесняйтесь связаться с нашей службой поддержки клиентов.</p>
				<p>С наилучшими пожеланиями,</p>
				<p>Команда EliteEld.</p>
			</td>
		</tr>
	</table>
</body>